//out: ../style.css

@font-face {
  font-family: 'icons';
  src: url('/icons.ttf?1') format('truetype');
  font-weight: normal;
  font-style: normal;
}



*{
	box-sizing: border-box;
	font-family: Calibri, sans-serif;
}

body{
	margin:0;
}

#player{
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;

	display: flex;
	align-items: stretch;
	background: #272422;
	&>*{
		flex-grow: 1;
		// flex-basis: 100px;
		// flex-shrink: 0;
		//flex:1;
	}

	.sidepanel{
		@w: 400px;
		width: @w;
		min-width: @w;
		max-width: @w;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		.cur_dir{
			@col: #fff;
			@col2: #3af;
			font-size: 1.2em;
			color: @col;
			padding: 0.5em;
			font-weight: bold;
			a{
				margin: 0 2px;
				cursor: pointer;
				display: inline-block;
				border-bottom: 1px dotted darken(@col,20);

				&:hover{
					color: @col2;
					border-bottom: 1px solid @col2;
				}
			}
		}

		.filelist{
			overflow-y: scroll;
			.list{
				display: flex;
				flex-direction: column;
				align-items: stretch;

				.item{
					transition: background 300ms;
					cursor: pointer;
					margin: 1px;
					padding: 0.7em;
					background: fade(#fff,20);
					color: #fff;
					border-radius: 2xpx;
					text-overflow: ellipsis;
					overflow: hidden;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					&:hover{
						background: fade(#fff,40);
					}

					&::before{
						display: inline-block;
						width: 1em;
						font-family: icons;
						padding-right: 0.7em;
					}

					&.current{
						margin:0;
						border-radius: 0;
						background: #05b;
					}

					&.folder{
						&::before{
							font-size: 1.1em;
							content: '\f114';
						}
					}

					&.unplayable{
						color: #777;
					}

					&.video::before{
						content: '\e800'
					}

					&.audio::before{
						content: '\e801'
					}

					&.image::before{
						content: '\e807'
					}
				}
			}
		}
	}
}

@import "custom-video.less";
