@font-face {
  font-family: 'icons';
  src: url('/icons.ttf?1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}
body {
  margin: 0;
}
#player {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  display: flex;
  align-items: stretch;
  background: #272422;
}
#player > * {
  flex-grow: 1;
}
#player .sidepanel {
  width: 400px;
  overflow-y: scroll;
  min-width: 400px;
  max-width: 400px;
}
#player .sidepanel .filelist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#player .sidepanel .filelist .item {
  transition: background 300ms;
  cursor: pointer;
  margin: 1px;
  padding: 0.7em;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 2xpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#player .sidepanel .filelist .item:hover {
  background: rgba(255, 255, 255, 0.4);
}
#player .sidepanel .filelist .item::before {
  display: inline-block;
  width: 1em;
  font-family: icons;
  padding-right: 0.7em;
}
#player .sidepanel .filelist .item.current {
  margin: 0;
  border-radius: 0;
  background: #05b;
}
#player .sidepanel .filelist .item.folder::before {
  font-size: 1.1em;
  content: '\f114';
}
#player .sidepanel .filelist .item.unplayable {
  color: #777;
}
#player .sidepanel .filelist .item.video::before {
  content: '\e800';
}
#player .sidepanel .filelist .item.audio::before {
  content: '\e801';
}
#player .sidepanel .filelist .item.image::before {
  content: '\e807';
}
.custom-video {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 1;
  min-width: 0;
}
.custom-video .video {
  flex-grow: 1;
  position: relative;
}
.custom-video .video video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.custom-video .panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.custom-video .panel button {
  border: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.custom-video .panel button::before {
  font-family: 'icons';
}
.custom-video .panel button.play::before {
  content: '\e802';
}
.custom-video .panel button.pause::before {
  content: '\e803';
}
.custom-video .panel .seekbar {
  height: 30px;
  background: #333;
  position: relative;
}
.custom-video .panel .seekbar .bar {
  height: 100%;
}
.custom-video .panel .seekbar .seen {
  position: absolute;
  left: 0;
  top: 0;
  background: #27e;
}
.custom-video .panel .seekbar .ready {
  background: #555;
}
.custom-video .panel .editor {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.custom-video .panel .editor .timeline_wrapper {
  min-width: 0;
  overflow: hidden;
  background: #fff;
}
.custom-video .panel .editor .timeline_wrapper .timeline {
  background: url("/dots.png");
  position: relative;
}
.custom-video .panel .editor .timeline_wrapper .timeline .times {
  display: flex;
  font-size: 12px;
  padding-left: 25px;
}
.custom-video .panel .editor .timeline_wrapper .timeline .times span {
  width: 50px;
  text-align: center;
}
.custom-video .panel .editor .timeline_wrapper .timeline .cursor {
  border-left: 1px solid red;
  position: absolute;
  top: 0;
  bottom: 0;
}
.custom-video .panel .editor .timeline_wrapper .timeline .labels {
  height: 50px;
}
.custom-video .panel .editor .timeline_wrapper .timeline .sound {
  border-top: 1px solid #ddd;
}
.custom-video .panel .editor .timeline_wrapper .timeline .sound canvas {
  opacity: 0.6;
}
